*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#parent{
	width: 100%;
	background: #F0F2F5;
}
.conteiner{
	width: 80%;
	/*background: blue;*/
	margin: 0 auto;
	position: relative;
}
.row1{
	width: 51%;
	height: 700px;
	/*background: pink;*/
	display: inline-block;
	position: relative;
}
.row2{
	width: 48%;
	height: 700px;
	/*background: orange;*/
    position: absolute;
    /*taracq vekaluma isk relativ@ 
    asuma inq@ inchqan
     taracq uni etel tox mna*/
    right: 0;
    top: 0;
}
.col{
	width: 100%;
	height: 520px;
    position: absolute;
    bottom: 0;
    /*background: brown;*/

}
/*parentin u contenierin boy 
chtvecinq iranq vekalecin rowi 
i boy@ inline blocki i relativi hasvin*/
img{
	height: 106px;
    margin: 0px 48px;
}
h2{font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    margin: -19px 79px;
}
.one{
	width: 73%;
	height: 370px;
	border-radius: 10px;
	position: absolute;
	right: 15%;
    bottom: 28%;
    text-align: center;
    box-shadow:0px 4px 9px -4px grey; 
}
.one>form>a{
	text-decoration: none;
	color: #188CF5;
	font-family: Arial, Helvetica, sans-serif;
}

.papa>a{
	font-size: 14px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	
}
.papa>a:hover{
	text-decoration: underline;
}

.vxod{
	width: 92%;
	height: 50px;
	display: inline-block;
	border-radius: 10px;
	margin: 7px;
	font: 17px Arial;
    color: #ab949c;
    text-indent: 13px;
    border: 1px solid #ccc;
	
}
.two{
	width: 92%;
	height: 50px;
	display: inline-block;
	border-radius: 10px;
	margin: 7px;
	font: 20px Arial;
    color: white;
    background-color:#1877f2;
    border: 1px solid #ccc;
    
}
hr{ width: 74%;
 	display: inline-block;
}
.but{ width: 43%;
	height: 50px;
	background-color: #42b72a;
	font: 17px Arial, sans-serif,bold;
	border-radius: 10px;
	color: white;	
	border: 1px solid #ccc;
}
.papa{

	width: 82%;
	height: 20px;
	position: absolute;
	right: 5%;
    bottom: 24%;
}

.menu{
	margin: 0  auto;
	width:80%;
}
nav li{
	color:#9798a0;
	margin: 0 auto;
	padding: 5px;
	display: inline;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
.menu>hr{ width: 95%;
 	display: inline-block;
 	
}